{% extends 'hyp_app/base.html' %}
{% load staticfiles %}


{% block cssimport %}

{% endblock %}


{% block content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Painel de bordo</h1>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    Sensores
                </div>
                <div class="panel-body">
                    <div class="row">
                        {% for peripheral in peripherals %}
                            {% if peripheral.type_peripheral == "sensor" %}
                                <div class="col-lg-4 col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-dot-circle fa-5x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge" id="{{ peripheral.mqtt_topic }}">{{ peripheral.last_record_state }}</div>
                                                    <div>{{ peripheral.name }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="{% url 'peripheral_detail' pk=peripheral.pk %}">
                                            <div class="panel-footer">
                                                <span class="pull-left">Ver detalhes do sensor</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Atuadores
                </div>
                <div class="panel-body">
                    <div class="row">
                        {% for peripheral in peripherals %}
                            {% if peripheral.type_peripheral == "atuador" %}
                                <div class="col-lg-4 col-md-6">
                                    <form method ="GET" >
                                    <a href="{% url 'peripheral_actuador' pk=peripheral.pk %}">                                      
                                    {% if peripheral.last_record_state == '1.0' %}
                                    <div class="panel panel panel-green">
                                    {% elif peripheral.last_record_state == '0.0' %}
                                    <div class="panel panel panel-red">
                                    {% endif %}                                  
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <i class="fa fa-circle fa-5x"></i>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    {% if peripheral.last_record_state == '1.0'%}
                                                    <div class="huge">Ligado</div>
                                                    {% elif peripheral.last_record_state == '0.0'%}
                                                    <div class="huge">Desligado</div>
                                                    {% endif %}
                                                    <div> {{ peripheral.name }} </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    </form>
                                        <a href="{% url 'peripheral_detail' pk=peripheral.pk %}">
                                            <div class="panel-footer">
                                                <span class="pull-left">Ver detalhes do atuador</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>


{% endblock %}


{% block jsimport %}
    
{% endblock %}