{% extends 'hyp_app/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="col-lg-12">
         <h1 class="page-header">Adicionar periférico</h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form method="POST" enctype="multipart/form-data" class="post-form" id="id_peripheral_form">{% csrf_token %}
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Nome</label>
                                    {{ form.name }}
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">                            
                                        <div class="form-group">
                                            <label>Base do tópico MQTT</label>
                                            {{ form.topic_base }}                    
                                        </div>
                                    </div>                
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Tipo do periférico</label>
                                            {{ form.type_peripheral }}
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="form-group">
                                    <label>Descrição</label>
                                    {{ form.description }}
                                </div>
                                <div class="form-group">
                                    {{ form.last_record_state.as_hidden  }}                    
                                </div>
                                <div class="form-group">
                                    {{ form.last_record.as_hidden  }}                    
                                </div>                        
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Nome técnico</label>
                                    {{ form.technical_name }}
                                </div>                        
                                <div class="row">
                                    <div class="col-sm-6">                            
                                        <div class="form-group">
                                            <label>Nome do tópico MQTT</label>
                                            {{ form.topic_name }}
                                        </div>
                                    </div>                
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Especificação</label>
                                            {{ form.specification }}
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="form-group">
                                    <label>MQTT Tópico</label>
                                        {{ form.mqtt_topic }}                    
                                </div>                        
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">                  
                                            <div id='centralize-label'>
                                                <label>Ativo</label> 
                                                {{ form.is_activated }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">                  
                                            <button type="submit" class="save btn btn-default">Salvar</button>        
                                        </div>
                                    </div>                  
                                </div>              
                            </div>
                        </form>
                    </div>
                </div>
            </div>      
        </div>
    </div>
{% endblock %}

{% block jsimport %}

<script src="{% static 'js/validations/peripheral_new.js' %}"></script>

{% endblock %}