{% extends 'hyp_app/base.html' %}
{% load staticfiles %}

{% block cssimport %}

    <!-- Social Buttons CSS -->
	<link href="{% static 'css/bootstrap-social/bootstrap-social.css' %}" rel="stylesheet" >

{% endblock %}

{% block content %}
    <div class="col-lg-12">
	    <h1 class="page-header">Detalhes do periférico</h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="POST" enctype="multipart/form-data" class="post-form" id="id_peripheral_form">{% csrf_token %}
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Nome</label>
                            <input class="form-control" id="id_name" maxlength="50" name="name" type="text" value="{{ peripheral.name }}" disabled/>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">                            
                                <div class="form-group">
                                    <label>Base do tópico MQTT</label>
                                    <input class="form-control" id="id_topic_base" maxlength="50" name="topic_base" type="text" value="{{ peripheral.topic_base }}" disabled/>
                                </div>
                            </div>                
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Tipo do periférico</label>
                                    <select class="form-control" id="id_type_peripheral" name="type_peripheral" value="{{ peripheral.type_peripheral }}" disabled>
										<option value="sensor">Sensor</option>
										<option value="atuador">Atuador</option>
									</select>
                                </div>
                            </div>                                    
                        </div>
                        <div class="form-group">
                            <label>Descrição</label>
                            <textarea class="form-control" cols="40" id="id_description" name="description" rows="10" disabled>{{ peripheral.description }}</textarea>
                        </div>
                        <div class="form-group">
                            {{ peripheral.last_record_state.as_hidden  }}                    
                        </div>
                        <div class="form-group">
                            {{ peripheral.last_record.as_hidden  }}                    
                        </div>                        
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Nome técnico</label>
                            <input class="form-control" id="id_technical_name" maxlength="50" name="technical_name" type="text" value="{{ peripheral.technical_name }}" disabled />
                        </div>                        
                        <div class="row">
                            <div class="col-sm-6">                            
                                <div class="form-group">
                                    <label>Nome do tópico MQTT</label>
                                    <input class="form-control" id="id_topic_name" maxlength="50" name="topic_name" type="text" value="{{ peripheral.topic_name }}" disabled />
                                </div>
                            </div>                
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Especificação</label>
                                    <input class="form-control" id="id_specification" maxlength="10" name="specification" type="text" value="{{ peripheral.specification }}" disabled />
                                </div>
                            </div>                                    
                        </div>
                        <div class="form-group">
                            <label>MQTT Tópico</label>
                            <input class="form-control" id="id_mqtt_topic" maxlength="50" name="mqtt_topic" type="text" value="{{ peripheral.mqtt_topic }}" disabled />
                        </div>                        
                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="col-lg-6">                  
                                    <div id='centralize-label'>
                                        <label>Ativo</label> 
                                        <input class="form-control" id="id_is_activated" name="is_activated" type="checkbox" disabled/>
                                    </div>
                                </div>
                                <div class="col-lg-6">                  

                                </div>
                            </div>       

                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <a class="btn btn-primary btn-lg" href="{% url 'peripheral_edit' pk=peripheral.pk %}" id="id_editar_btn">Editar</a>
                                </div>
                                <div class="col-lg-6">                   
	    							<button type="button" class="btn btn-primary btn-lg btn-danger" data-toggle="modal" data-target="#modalConfirm">Excluir</button>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="modalConfirmLabel">Confirmar exclusão de periférico</h4>
                                            </div>
                                            <div class="modal-body">
                                                Tem certeza que deseja excluir este periférico do banco de dados?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                                <a class="btn btn-primary btn-danger" href="{% url 'peripheral_remove' pk=peripheral.pk %}" id="id_excluir_btn">Excluir periférico</a>
                                            </div>  
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                <!-- /.modal -->
                            </div>  

                        </div>              
                    </div>
                </form>
            </div>      
        </div>
    </div>
{% endblock %}

{% block jsimport %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>


	<script src="{% static 'js/validations/peripheral_detail.js' %}"></script>

{% endblock %}