{% extends 'hyp_app/base.html' %}

{% block content %}
	<div class="col-lg-12">
	     <h1 class="page-header">Adicionar sensor</h1>
		<div class="panel panel-default">
	        <div class="panel-body">
			    <form method="POST" enctype="multipart/form-data" class="post-form">{% csrf_token %}
					<div class="col-lg-6">
				    	<div class="form-group">
				        	<label>Nome</label>
				        	{{ form.name }}
				        </div>
				    	<div class="form-group">
				        	<label>Nome técnico</label>
				        	{{ form.technical_name }}
				        </div>
				        <div class="form-group">
				        	<label>Descrição</label>
				        	{{ form.description }}
				        </div>
		                <div class="form-group">
		                    <label>Imagem do sensor</label>
		                    {{ form.sensor_photo }}                    
		                </div>			    		        	        	        		
					</div>
					<div class="col-lg-6">
						<div class="form-group">
				        	<label>Tipo do sinal</label>
				        	{{ form.type_signal }}
				        </div>
				    	<div class="form-group">
				        	<label> Biblioteca de código</label>
				        	{{ form.lib_code }}
				        </div>
				        <div class="col-lg-12">
				        	<div id='centralize-label'>
				        		<label> Número de portas para sinal </label> 
				        	</div>
				        	<div class="col-lg-12">		        	
								<div class="col-lg-6">		
								    <label> Portas digitais </label>        	
							    	<div class="form-group">
										<label class="radio-inline"> {{ form.digital_ports_quant }} </label>
							        </div>
							    </div>
								<div class="col-lg-6">
							       	<label> Portas analógicas </label>							    
							    	<div class="form-group">
							        	<label class="radio-inline"> {{ form.analog_ports_quant }} </label>
							        </div>
							    </div>
							</div>    
					    </div>
						<div class="form-group">
							<div class="col-lg-12">
								<div class="col-lg-6">					
						        	<div id='centralize-label'>
						        		<label>Ativo</label> 
						        		{{ form.is_activated }}
						        	</div>
						        </div>
								<div class="col-lg-6">					
						       		<button type="submit" class="save btn btn-default">Salvar</button>        
					        	</div>
					        </div>			       	
				        </div>		        
					</div>
			    </form>
			</div>	    
		</div>
	</div>
{% endblock %}

{% block jsimport %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

{% endblock %}